*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f7f7f7;
    color:#222;
}

.hero{
    text-align:center;
    padding:70px 20px;
    background:white;
}

.hero h1{
    font-size:48px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
    color:#666;
}

.products{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.25s;
}

.card:hover{
    transform:translateY(-6px);
}

.card img{
    width:100%;
    display:block;
}

.info{
    padding:22px;
}

.info h2{
    margin-bottom:10px;
}

.info p{
    color:#666;
    margin-bottom:15px;
}

.rating{
    font-weight:bold;
    margin-bottom:20px;
}

.button{
    display:inline-block;
    background:#111;
    color:white;
    text-decoration:none;
    padding:14px 22px;
    border-radius:12px;
}